<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.aishafarheen.frienbookfinal">
<uses-permission android:name="FLAG_ACTIVITY_NEW_TASK"/>
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions"/>

    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Splash"
            android:label="Friendbook" >
        <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="Friendbook"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignupActivity"
            android:label="Sign Up" />
               <activity
            android:name=".Newsfeed"
            android:label="Suggested Friends" />
        <activity
            android:name=".Update"
            android:label="Homepage" />


        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service
            android:name=".Loca"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".Recognition"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".ActivityRecognizedService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".Usage"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>
